.Resizer {
  background: #dfe4ea;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  display: inline-block;
}

.Resizer:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.Resizer.horizontal {
  height: 20px;
  margin: -5px 0;
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  /* Custome Style Here */
  background: #ced6e0;
}

.Resizer.vertical {
  width: 15px;
  margin: 0 -5px;
  cursor: col-resize;
}

.Resizer.vertical:hover {
  /* Custome Style Here */
  background: #ced6e0;
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
