[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
djangorestframework = "==3.12.4"
django-allauth = "*"
django-rest-auth = "*"
django-cors-headers = "*"
urllib3 = "==1.25.11"
social-auth-app-django = "*"
psycopg2-binary = "*"
django-storages = "*"
drf-nested-routers = "*"
boto3 = "*"
pillow = "*"
wordcloud = "*"
numpy = "*"
matplotlib = "*"
sumy = "*"
pandas = "*"
sklearn = "*"
torch = "*"
transformers = "==2.2.0"
spacy = "*"
bert-extractive-summarizer = "==0.7.1"

[dev-packages]

[requires]
python_version = "3.8"
