<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Briefly</title>
    {% load static %}
 
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto&family=Suez+One&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Righteous&display=swap" rel="stylesheet">
    <meta name="google-signin-client_id" content="372223287259-nit3rukskraic3obnog1v3n3mpqn3ab7.apps.googleusercontent.com">
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>
    <script src="{% static "frontend/main.js" %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

  </body>
</html>
