#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ecf0f1;
}

#scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #ecf0f1;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #95a5a6;
}

.scrollmenu {
  white-space: nowrap;
  overflow: auto;
}

.scrollItem {
  background-color: initial;
  overflow: visible;
  white-space: initial;
}
